.flex-container {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: baseline;
}

.flex-container * {
    list-style-type: none;
}

.contImg {
    width: 220px;
    min-height: 220px;
    object-fit: scale-down;
}

.compTable {
    text-align: center;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
}

.compContent {
    border: solid black 2px;
    background-color: white;
    border-radius: 10px;
    width: 240px;
    margin: auto;
    position: relative;
}

.compImgSel,
.compImg {
    padding-top: 10px;
    box-shadow: 1px 1px 10px #969595;
    width: 220px;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.compTitle {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.compLine {
    text-align: center;
    font-size: smaller;
}

.displayzone {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.compContentSelect {
    border: solid black 2px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    width: 220px;
    height: 460px; 
    
}

.compContentSelect:hover {
    box-shadow: 2px 2px 20px #969595;
}

.compImgSel {
    min-height: 220px;
    object-fit: contain;
}